@import 'colors';
@import 'layout-vars';

.editor {
  position: relative;
  width: 100vw;
  height: 100vh;

  &-layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: $toolbar-width 1fr;
    grid-template-rows: 4em 1fr;
    grid-gap: 0;
    grid-template-areas:
    "menubar menubar"
    "toolbar canvas";
  }

  &__menubar {
    display: flex;
    align-items: stretch;
    grid-area: menubar;
    border-bottom: 1px solid $gray;
    background: $light-gray;
    padding: .5rem;
  }

  &__toolbar {
    grid-area: toolbar;
    border-right: 1px solid $gray;
    background: $light-gray;
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }

  &__canvas {
    position: relative;
    grid-area: canvas;
  }
}
