@import "colors";

@mixin icon-wrapper($value) {
  $size: ($value / 16.0) + 0rem;

  width: $size;
  height: $size;
  min-width: $size;
  min-height: $size;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

.icon-wrapper-s { @include icon-wrapper(18); }
.icon-wrapper-m { @include icon-wrapper(24); }

.icon-black { fill: black }
.icon-gray { fill: $gray }
