* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: sans-serif;
}

button {
  background: transparent;
  cursor: pointer;
}

.square {
  &:before {
    content: '';
    padding-top: 100%;
  }
}

.flx {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-aic {
    display: flex;
    align-items: center;

    &-jcc {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-jcsb {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-ais {
    display: flex;
    align-items: stretch;
  }

  &-jcc {
    display: flex;
    justify-content: center;
  }

  &-jcsb {
    display: flex;
    justify-content: space-between;
  }
}
