* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

.square {
  &:before {
    content: '';
    padding-top: 100%;
  }
}

.flx {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-aic {
    display: flex;
    align-items: center;
  }

  &-ais {
    display: flex;
    align-items: stretch;
  }

  &-jcsb {
    display: flex;
    justify-content: space-between;
  }

  &-aic-jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
