@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  cursor: pointer;
}

.square {
  &:before {
    content: '';
    padding-top: 100%;
  }
}

.flx {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-aic {
    display: flex;
    align-items: center;

    &-jcc {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-jcsb {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-ais {
    display: flex;
    align-items: stretch;

    &-jcc {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    &-jcsb {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &-jcc {
    display: flex;
    justify-content: center;
  }

  &-jcsb {
    display: flex;
    justify-content: space-between;
  }

  &-item-1 {
    flex-grow: 1;
  }
}
