@import 'colors';

.menubar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 .5rem;

  &__item {
    cursor: pointer;
    padding: .75rem;
    background: transparent;
    transition: background .15s ease-in-out;
    border-radius: .2rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    &:hover {
      background: $gray;
    }

    &_disabled,
    &:disabled {
      pointer-events: none;
      opacity: .25;
    }
  }
}
