@import 'colors';

.svg {
  $self: &;

  &-helper {
    fill: none;
    stroke: $normal-object-color;
    stroke-width: .75;
    stroke-dasharray: 8 8;
  }

  &-object {
    fill: none;
    stroke: $normal-object-color;
    stroke-width: 2;
    transition: stroke .15s ease-in-out;

    &_selected {
      stroke: $selected-object-color;
    }

    &_drawing {
      stroke: $drawing-object-color;
    }
  }

  &-hover-area {
    fill: none;
    stroke-opacity: 0;
    stroke-width: 20;
    stroke: $normal-object-color;
  }

  &-group {
    &:hover {
      cursor: pointer;

      & > #{$self}-object:not(#{$self}-object_selected) {
        stroke: $highlighted-object-color;
      }
    }

    &_no-hover {
      pointer-events: none;
    }
  }

  &-cross > line {
    fill: none;
    stroke-width: 2;
    stroke: $cross-color;
  }
}
