@import 'colors';

.toolbar {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;

    &_active {
      background: $gray;
    }

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}
